@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Candidates Record</title>
    <link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/sweetalert.css" rel="stylesheet" />
    <link href="../assets/css/stylesearch.css" rel="stylesheet" />
    <link href="../assets/css/stylehome.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/jquery-3.5.1.js"></script>
    <script src="../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/dataTable/dataTables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/popperjs/popper.min.js"></script>
    @*<script src="../assets/js/moment-with-locales.min.js"></script>*@
    <script src="../assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/sweetalert.min.js"></script>
    <link href="../assets/css/all.css" rel="stylesheet" />
    <link href="../assets/css/stylereport.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/dataTables.buttons.min.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.html5.min.js"></script>
    <script src="../assets/dataTable/dataTables/jszip.min.js"></script>
    <script src="../assets/dataTable/dataTables/pdfmake.min.js"></script>
    <script src="../assets/dataTable/dataTables/vfs_fonts.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.print.min.js"></script>





    <!--<link rel="stylesheet" href="~/assets/css/stylepayment.css">
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/assets/js/libs/jquery/jspdf.js"></script>-->
    @*<script src="~/scripts/html2canvas.js"></script>*@

    <style>
        .loader,
        .outer-loader {
            display: inline-block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0
        }

        .outer-loader {
            background: rgba(0, 0, 0, .3);
            width: 100%;
            height: 100%;
            z-index: 10000
        }

        .loader {
            width: 69px;
            height: 89px;
            border: 1px solid #000;
            margin: auto
        }

        .loader-img {
            border: 15px solid #415bbb;
            border-radius: 50%;
            border-top: 15px solid #000;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0)
            }

            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0)
            }

            100% {
                transform: rotate(360deg)
            }
        }

        .row_new {
            margin-left: 10px;
            margin-right: 10px
        }

        #logo img {
            height: auto;
            padding-left: 3px;
            width: 40px
        }

        body:not(.menu-on-top).desktop-detected {
            min-height: 907px !important
        }

        .validation {
            color: red;
        }
    </style>

    <style>
        .btn:disabled {
            opacity: 0.2 !important;
        }
        .btn-secondary {
            width: 300px;
            height: 100px;
        }
            .btn-secondary:hover {
                border: 1px solid;
                padding: 10px;
                box-shadow: 5px 5px #888888;
            }

        .cus-top-cards {
            border: 1px solid #ccc;
            padding: 0.8rem;
            box-shadow: inset 0px 1px 8px 2px #a9a9a9;
        }

        .table td, .table th {
            padding: 0.8rem !important;
            font-size: 13px !important;
        }

        .cus-viewbtn {
            background: #070088;
            cursor: pointer;
            border: 1px solid #070088;
            background-image: none;
            color: #fff;
            font-style: normal;
        }

            .cus-viewbtn:hover {
                background: #070088;
                transition: all 0.5s;
                box-shadow: 0px 6px 10px #070088;
                color: #fff;
            }
    </style>

    <style>
        body {
            margin: 0;
        }

        table,
        tr,
        td {
            word-wrap: break-word;
            border: 0px solid #fff;
            vertical-align: top;
        }

        section {
            width: 1150px;
            margin: 0 auto;
        }

        .wrapper {
            width: 550px;
            min-height: 300px;
            position: relative;
            border: 2px solid #333;
            /*border-left: 40px solid #2F308A;*/
            padding: 15px;
            font-size: small;
            display: inline-block;
        }

        .wrapper1 {
            width: 550px;
            min-height: 300px;
            position: relative;
            border: 2px solid #333;
            padding: 10px;
            color: rgba(black, 0.5);
            font-size: small;
            display: inline-block;
            height: 300px;
        }

        /* .wrapper h5 {
                    font-size: 12px;
                    color: white;
                    text-transform: uppercase;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 25px;
                    left: -30px;
                    transform: rotate(270deg);
                    transform-origin: 0 0;
                    word-wrap: break-word;
                }
        */
        div.dt-buttons button.dt-button:last-child {
            float: right;
            background: no-repeat;
            border: none;
        }

        div.dt-buttons {
            position: relative;
            float: left;
            width: 100%;
            display: inline-block;
        }

        .grid {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 290px), 1fr));
        }

        .card {
            border-radius: 10px;
            background: #6b5b95;
            height: 140px;
            line-height: 8rem;
            color: white;
        }

        .card-top {
            margin-top: 20px;
            margin-left: 5px;
            text-align: center;
            font-weight: bold;
        }

        .card-content {
            text-align: center;
            font-size: 40px;
            line-height: 4rem;
        }
    </style>




</head>

<body>
    <div class="container-fluid">
        <div class="row main-banner">
            <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
        </div>

    </div>
    @*
        <div class="container-fluid" style="margin-bottom:20px;">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-2"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-8 text-center top-heading" style="margin-top: 5px;"><h4 class="heading hedderstle">NCVT Data Status</h4></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-right back-btn" style="margin-top: 10px;">
                    <a href="~/DHE/HEMenu.aspx" id="btnBack" class="btn btn-icon icon-left btn-primary"><i class="fas fa-arrow-alt-circle-left"></i></a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="grid">
                <div class="card">
                    <div class="card-top"><h5>Total Admitted Students NCVT</h5></div>
                    <div class="card-content">50000</div>
                </div>
                <div class="card">
                    <div class="card-top"><h5>Total Uploaded Students on SID</h5></div>
                    <div class="card-content">25000</div>
                </div>
                <div class="card">
                    <div class="card-top"><h5>Remaning Students</h5></div>
                    <div class="card-content">25000</div>
                </div>
            </div>
        </div>*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-center top-heading" style="margin-top: 5px;"><h4 class="heading hedderstle">User Actions</h4></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-right back-btn" style="margin-top: 10px;">
                <a href="~/DHE/HEMenu.aspx" id="btnBack" class="btn btn-icon icon-left btn-primary"><i class="fas fa-arrow-alt-circle-left"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <div class="cus-top-section">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-secondary" style="background: #1161a8;" onclick="viewStudentRecord();">View Student Record</button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-secondary" style="background: #d27400;" onclick="sendData();">Send Data to SID Portal</button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-secondary" style="background: #2c8f7f;" onclick="getResponse();">Get Response from SID Portal</button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-secondary" style="background: #e91e1e;" onclick="viewResponse();">View Response Log</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <div class="cus-top-section">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 cus-getbtn">
                        <label style="margin-top:17px;"></label><br />
                        <button class="btn btn-secondary" style="background: #17a2b8;" onclick="updateData();">Update Credentials of State User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ======= Footer ======= -->
    @*<footer id="footer" style="position:relative;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 text-left" style="margin-top:10px;">
                                <div class="credits">
                                    <a>Site is technically designed, hosted and maintained by National Informatics Centre, Haryana</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <img src="../assets/images/nic-logo.png" style="width:100px;">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </footer>*@
    <div class="outer-loader" style="display: none;">
        <div class="loader-img loader" style="display: none;">
        </div>
    </div>
    <!-- End Footer -->
</body>
</html>
<script>
    function startPreloader() {
        $(".loader").css("display", "block");
        $(".outer-loader").css("display", "block");

    }
    function stopPreloader() {

        $(".loader").css("display", "none");
        $(".outer-loader").css("display", "none");
    }


    $(document).ready(function () {

    });

    function viewResponse() {
        window.location = "../APIData/viewSIDResponse";
    }
    function viewStudentRecord() {
        window.location = "../APIData/viewStudentRecordSID";
    }
    function updateData() {
        window.location = "../APIData/updateCredentials";
    }


    function sendData() {
        swal({
            title: "Are you sure?",
            text: "Send NCVT Data to SID Portal",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: false
        },
        function (isConfirm) {

            if (isConfirm) {
                startPreloader();
                //var urltoSend = '@Url.Action("sendDataToSIDPortal", "APIData")';
                $.ajax({

            type: "POST",
                url: "@Url.Action("sendDataToSIDPortal", "APIData")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                            if (data == "1") {
                                stopPreloader();
                                swal('Alert!', 'Your Data is sent on the SID Portal, please check after sometime for the response.');
                            }
                            if (data == "0") {
                                stopPreloader();
                                swal('Alert!', 'No Data is Available for Send to DGT Portal');
                            }
                            if (data == "2") {
                                stopPreloader();
                                swal('Alert!', 'Some error occured in the API');
                            }
                        },
                        error: function (jqXHR, exception) {
                            var msg = '';
                            if (jqXHR.status === 0) {
                                msg = 'Not connect.\n Verify Network.';
                            } else if (jqXHR.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (jqXHR.status == 500) {
                                msg = 'Internal Server Error [500].';
                            } else if (exception === 'parsererror') {
                                msg = 'Requested JSON parse failed.';
                            } else if (exception === 'timeout') {
                                msg = 'Time out error.';
                            } else if (exception === 'abort') {
                                msg = 'Ajax request aborted.';
                            } else {
                                msg = 'Uncaught Error.\n' + jqXHR.responseText;
                            }
                            swal('Error!', msg, "error");
                            stopPreloader();
                            //alert("Error: " + msg);
                        }
                    });
                //$("#cover").fadeOut();
            } else {
                swal("Cancelled", "No Action Performed", "error");

            }
        });

    }



    function getResponse() {
    swal({
        title: "Are you sure?",
        text: "Get Response from SID Portal of last hit.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, I am sure!',
        cancelButtonText: "No, cancel it!",
        closeOnConfirm: true,
        closeOnCancel: false
    },
    function (isConfirm) {

        if (isConfirm) {
            startPreloader();
            $.ajax({
                type: "POST",
                url: "@Url.Action("getAPIResponseSID", "APIData")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    stopPreloader();

                    switch (data) {
                        case "1":
                            swal({
                                title: 'Success!',
                                text: 'Responses retrieved successfully! Kindly check API response by clicking on View Response Log Button.',
                                type: 'success',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "2":
                            swal({
                                title: 'Processing!',
                                text: 'Data upload process is in-progress. Please try again after some time.',
                                type: 'info',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "3":
                            swal({
                                title: 'Configuration Required!',
                                text: 'No user credentials configured. Please update credentials first.',
                                type: 'warning',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "4":
                            swal({
                                title: 'Authentication Failed!',
                                text: 'Authentication failed. Please check your credentials.',
                                type: 'error',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "5":
                            swal({
                                title: 'No Log Found!',
                                text: 'No log ID found. Please upload data first before checking responses.',
                                type: 'warning',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "6":
                            swal({
                                title: 'Configuration Missing!',
                                text: 'Admission session not configured in database. Please contact administrator.',
                                type: 'error',
                                confirmButtonText: 'OK'
                            });
                            break;

                        case "0":
                        default:
                            swal({
                                title: 'Error!',
                                text: 'Some error occurred while fetching the response. Please try again.',
                                type: 'error',
                                confirmButtonText: 'OK'
                            });
                            break;
                    }
                },
                error: function (jqXHR, exception) {
                    stopPreloader();
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    swal({
                        title: 'Error!',
                        text: msg,
                        type: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        } else {
            swal("Cancelled", "No Action Performed", "error");
        }
    });
}



</script>