
@{
    ViewBag.Title = "CandiDet";
    Layout = null;
}

<head>
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link href="~/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- themify-icons line icon -->
    <link href="~/assets/icon/themify-icons/themify-icons.css" rel="stylesheet" />

    <link href="~/assets/icon/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- ico font -->
    <link rel="stylesheet" href="~/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <script src="~/assets/dataTable/dataTables/jquery-3.5.1.js"></script>
    @*<link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.css">*@
    @*<script type="text/javascript" src="../assets/js/jquery/jquery.min.js"></script>*@
    <script type="text/javascript" src="../Content/Js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../assets/js/popperjs/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap/Js/bootstrap.min.js"></script>
    <link href="~/swalJs/sweetalert.css" rel="stylesheet" />
    <link href="~/swalJs/swal-forms.css" rel="stylesheet" />
    <link href="~/assets/css/styleDec.css" rel="stylesheet" />

    <link href="~/assets/css/all.css" rel="stylesheet" />
    
    <link href="~/assets/css/stylesearch.css" rel="stylesheet" />
    <link href="~/assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/assets/dataTable/dataTables/buttons.html5.min.js"></script>
    <script src="~/assets/dataTable/dataTables/dataTables.buttons.min.js"></script>
    <script src="~/assets/dataTable/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/assets/dataTable/dataTables/jszip.min.js"></script>
    <script src="~/assets/dataTable/dataTables/pdfmake.min.js"></script>
    <script src="~/assets/dataTable/dataTables/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="~/swalJs/sweetalert.min.js"></script>
    <script src="~/swalJs/swal-forms.js"></script>
    <style>
        .datatable td {
            overflow: hidden; /* this is what fixes the expansion */
            text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
            white-space: nowrap;
        }

        .width-100 {
            width: 100px;
        }
        /* Important part */
        .modal-dialog {
            overflow-y: initial !important
        }

        .modal-body {
            height: 75vh;
            overflow-y: auto;
        }

        #tblPersonalDetail > tbody > tr > td:not([id]) {
            font-weight: bold;
        }


        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        /*#tblPersonalDetail > tbody > tr > td:not([id]) {
            font-weight: bold;
            width: 15%;
        }

        #tblChoice tbody tr td {
            white-space: pre-wrap !important;
            word-break: break-word !important;*/
        /*word-wrap: break-word !important;*/
        /*}

        #tblEduQual tbody tr td {
            white-space: pre-wrap !important;
            word-break: break-all !important;*/
        /*word-wrap: break-word !important;*/
        /*}

        #tblEduQual tbody tr th {
            white-space: pre-wrap !important;
            word-break: break-all !important;*/
        /*word-wrap: break-word !important;*/
        /*}*/

        .topHead {
            display: none;
        }

        @@media print {
            div#pcoded ~ div {
                display: none;
            }

            .topHead {
                display: block;
                font-size: x-large;
            }

            #tblPersonalDetail > tbody > tr > td:not([id]) {
                font-weight: bold;
                white-space: pre-wrap;
                word-wrap: break-word;
            }

            #tblPersonalDetail > tbody > tr > td[id] {
                white-space: pre-wrap;
                word-wrap: break-word;
            }

            #tblPersonalDetail > tbody > tr > td {
                padding: 2px 2px;
            }


            .btn, .btn-primary, footer, .steps, .main-banner, .cus-topbar, .abhi-no-print {
                display: none;
            }

            table,
            table tr td,
            table tr th {
                page-break-inside: avoid;
                font-size: 10px;
            }

            #tblEduQual > tbody > tr > td, #tblEduQual > thead > tr > th {
                font-size: x-small !important;
                padding: 2px 2px;
                white-space: pre-wrap;
                word-break: break-word;
            }

            .cus-heading, .card-header, h3, .card {
                margin: 0px 0px;
                padding: 0px 0px;
            }

            .card-header {
                page-break-after: avoid !important;
            }

            .card-body {
                page-break-before: avoid !important;
            }

            .card {
                page-break-inside: avoid;
            }
        }

        .loader,
        .outer-loader {
            display: inline-block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0
        }

        .outer-loader {
            background: rgba(0, 0, 0, .3);
            width: 100%;
            height: 100%;
            z-index: 999
        }

        .loader {
            width: 69px;
            height: 89px;
            border: 1px solid #000;
            margin: auto
        }

        .loader-img {
            border: 15px solid #415bbb;
            border-radius: 50%;
            border-top: 15px solid #000;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0)
            }

            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0)
            }

            100% {
                transform: rotate(360deg)
            }
        }

        .row_new {
            margin-left: 10px;
            margin-right: 10px
        }

        #logo img {
            height: auto;
            padding-left: 3px;
            width: 40px
        }

        body:not(.menu-on-top).desktop-detected {
            min-height: 907px !important
        }


        #API_CONTENT tbody tr td, thead tr th {
            width: 110px !important;
            word-break: break-word !important;
            overflow: auto;
            text-overflow: unset;
            white-space: nowrap;
            min-width: 80px;
            white-space: normal;
            font-size: 14px;
        }

        .btn.btn-icon {
            border-radius: 1px;
            width: 150px;
            /*line-height: 30px;
            height: 40px;
            padding: 3px;
            /* text-align: center; */
        }

        .field-icon {
            float: right;
            margin-left: -35px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>

</head>


<div class="outer-loader" style="display: none;">
    <div class="loader-img loader" style="display: none;"></div>
</div>
<!-- Modal -->
<div class="container-fluid">
    <div class="row main-banner">
        <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
    </div>

</div>
<div class="container-fluid" style="margin-bottom:20px;margin-top:1rem;">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-2"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-8 text-center top-heading" style="margin-top: 5px;"><h4 class="heading hedderstle" style="color: rgb(28, 57, 113); ">Update State Login Details</h4></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-right back-btn" style="margin-top: 10px;">
            <a href="~/APIData/sendDataToSID" id="btnBack" class="btn icon-left btn-primary back-btn" style="padding: .5rem .75rem; line-height: 1.25;border-radius: 0.25rem "><i class="fas fa-arrow-alt-circle-left"></i></a>
        </div>
    </div>
</div>
@*<div id="maindiv" style="margin-top:20px;" class="container">
    <h3 class="text-center">Update State Login Details</h3>
    <a href="~/APIData/sendDataToSID" id="btnBack" class="btn btn-info float-right" style="margin-bottom:20px;"><i class="fa fa-arrow-left"></i></a>
    
</div>*@
    <div class="container" id="updateInfo">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <form class="form-control">
                
                <div class="form-group row f1" style="margin-top: 2%">
                    <div class="col-sm-1">
                    </div>
                    <label for="uMobile" class="col-sm-2 col-form-label">Update Mobile Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="uMobile" placeholder="Mobile Number" required>
                        <input type="hidden" class="form-control" id="uId">
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="form-group row f2" style="margin-top: 2%">
                    <div class="col-sm-1">
                    </div>
                    <label for="uPass" class="col-sm-2 col-form-label">Update Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="uPass" placeholder="Password" required>
                        <span toggle="#uPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="form-group row f3" style="margin-top: 2%">
                    <div class="col-sm-1">
                    </div>
                    <label for="lbluType" class="col-sm-2 col-form-label">Select User Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="ddluType">
                            <option value="0" disabled>Select</option>
                            <option value="StateUser">StateUser</option>
                            @*<option value="Candidate">Candidate</option>*@
                        </select>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 top-section-btn text-center" id="dvSave" style="margin-top: 2%">
                    <a id="btnFinalSave" class="btn btn-icon icon-left btn-success"><i class="fas fa-save"></i>&nbsp;Update</a>
                    <br /><br />
                    @*<a href="#" id="btnCancel" class="btn btn-icon icon-left btn-danger" style="display: none"><i class="fas fa-trash"></i>&nbsp;Cancel</a>*@
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

    var errorFn = function (jqXHR, exception)
    {
        var msg = '';

        if (jqXHR.status === 0)
        {
            msg = 'Not connect.\n Verify Network.';
        } else if (jqXHR.status == 404)
        {
            msg = 'Requested page not found. [404]';
        } else if (jqXHR.status == 500)
        {
            msg = 'Internal Server Error [500].';
        } else if (exception === 'parsererror')
        {
            msg = 'Requested JSON parse failed.';
        } else if (exception === 'timeout')
        {
            msg = 'Time out error.';
        } else if (exception === 'abort')
        {
            msg = 'Ajax request aborted.';
        } else
        {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
        alert("Error: " + msg);
        $("#cover").fadeOut("slow");

    }


    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "@Url.Action("getUserData", "APIData")",

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var response_DataSet = JSON.parse(data);
                for (i = 0; i <= response_DataSet.length; i++) {
                    $('#uId').val(response_DataSet[i].UserID);
                    $('#uMobile').val(response_DataSet[i].mobileNo);
                    $('#uPass').val(response_DataSet[i].pin);
                    $('#ddluType').val(response_DataSet[i].userType);
                }
            },
            error: errorFn

        });
        $('#btnFinalSave').on('click', function () {
            saveData();
        });

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });

    function saveData() {
        var dataToSend = {};
        dataToSend.Id = $("#uId").val();
        dataToSend.Mobile = $("#uMobile").val();
        dataToSend.Pass = $("#uPass").val();
        dataToSend.Type = $("#ddluType").val();
        $.ajax({
            type: 'POST',
            url: "@Url.Action("updateUserData", "APIData")",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(dataToSend),
            success: function (data) {
                //alert(data);
                //console.log(data);

                if (data == 1) {
                    //$('#btnFinalSave').hide();
                    swal({
                            title: "Saved",
                            text: "Updated Successfully!",
                            type: "success"
                        }, function () {
                            location.reload();
                        });
                }
                else {
                    swal("Cancelled!", "Some Error Occured!!!", "error");
                }
            },
            error: errorFn
        })

        }
    </script>