<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true" throwExceptions="false">

	<!--Define Various Log Targets like files, database or asp.net trace files-->
	<targets>
		<!--<add name="NLog" connectionString="Data Source=localhost;port=3306;Initial Catalog=higher_edu2;User Id=root;password=MySql12345"/>-->
		<!-- database logger -->
		<target name="database" xsi:type="Database"
				dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
			connectionStringName="NLog">

			<!--<commandText>
				insert into higher_edu.log2 (
				Application, Logged, Level, Message,
				Logger, CallSite, Exception,type
				) values (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception,@type
				);
			</commandText>-->
			<commandText>
				call InsertLog (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception,@type,@additionalInfo)

			</commandText>

			<parameter name="@application" layout="HigherEducation" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@additionalInfo" layout="${exception:format=message}" />
		</target>
		<target name="console" xsi:type="ColoredConsole" layout="${message}" />
		<!--Write logs to File  where we want to write error logs-->
		<target name="file" xsi:type="File" fileName="E:\NLogErrors\ErrorLogFile.log" layout="      
            --------------------- ${level}(${longdate})${machinename}-------------------- ${newline}      
            ${newline}      
            Exception Type:${exception:format=Type}${newline}      
            Exception Message:${exception:format=Message}${newline}      
            Stack Trace:${exception:format=Stack Trace}${newline}      
            Additional Info:${message}${newline}      
            ">
		</target>

	</targets>

	<rules>
		<!-- database logger -->
		<logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>
		<logger name="*" minlevel="trace" writeTo="file" />
	</rules>
</nlog>