<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="Counselling" value="5" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="appId" value="in.gov.itiharyana" />
    <add key="appKey" value="07be5c92e0698992fcd8f01875dec580" />
    <add key="verifierId" value="in.gov.itiharyana" />
    <!--<add key="APIUrl" value="https://partners.digitallocker.gov.in/public/verification/api/search/2/xml" />-->
    <add key="APIUrl_CBSE" value="https://apisetu.gov.in/certificate/v3/cbse/hscer" />
    <add key="APIUrl_HR" value="https://apisetu.gov.in/certificate/v3/bsehr/hscer" />
    <add key="APIUrl_UP" value="https://apisetu.gov.in/certificate/v3/upmsp/hscer" />
    <add key="APIUrl_RJ" value="https://apisetu.gov.in/certificate/v3/rajasthanrajeduboard/hscer" />
    <add key="APIUrl_PU" value="https://apisetu.gov.in/certificate/v3/pseb/hscer" />
    <add key="APIUrl_GetMemberFromFamilyID" value="http://10.88.235.138/PPPapi/api/Account/GetMemberbasicdetailsfromFIDUID" />
    <add key="APIUrl_GetMemberFromAadhaarID" value="http://10.88.235.138/PPPapi/api/Account/GetFamilyIDbyUID" />
    <add key="APIUrl_OTPRequestforMEMID" value="http://10.88.235.138/PPPapi/api/Account/OTPRequestforMEMID" />
    <add key="APIUrl_VerifyOTPRequestforMEMID" value="http://10.88.235.138/PPPapi/api/Account/VerifyOTPRequestforMEMID" />
    <add key="Edisha_Prod" value="https://ws1.edisha.gov.in/api/Values/GetDocumentStatus" />
    <!--<add key="Edisha_Stg" value="http://10.88.229.244/EDistrictBackOfficeAPI/api/Values/GetDocumentStatus" />-->
    <!--HDFC-->
    <!--<add key="workingKey" value="DEC133512F1D1F99D83399ACC45816ED" />
		<add key="strAccessCode" value="AVCP94HI81AM82PCMA" />
		<add key="strMerchantId" value="272525" />

		<add key="redirect_url" value="http://localhost:57994/Account/FeeResponse" />
		<add key="cancel_url" value="http://localhost:57994/Account/FeeResponse" />
		<add key="passwordIndusind" value="$2y$10$waL0k1R9LFbx1cwfSfFHkOvsnr8mRQlox/6M8QIHbbp5PPVy5y4Tm" />
		<add key="template_id" value="2669" />
		<add key="merchant_codeIndusind" value="DHE01" />-->
    <add key="SALT" value="gKNR4dYH" />
    <add key="MKEY" value="L0T44y" />
    <add key="PAYU_BASE_URL" value="https://test.payu.in/_payment" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5" />
    <add key="Verify_URL" value="https://test.payu.in/merchant/postservice.php?form=2" />
    <add key="SuccessURL" value="http://localhost:57994/Account/FeeResponsePayU" />
    <add key="FailureURL" value="http://localhost:57994/Account/FeeResponsePayU" />
    <add key="CancelURL" value="http://localhost:57994/Account/FeeResponsePayU" />
    <add key="APICBSE10" value="https://apisetu.gov.in/certificate/v3/cbse/sscer" />
    <add key="APIHBSE10" value="https://apisetu.gov.in/certificate/v3/bsehr/sscer" />
    <add key="aSMSURL" value="https://msdgweb.mgov.gov.in/esms/sendsmsrequestDLT" />
    <add key="aSMSusrName" value="haryanait-SDITHR" />
    <add key="aSMSpass" value="Adtsdit@1980" />
    <add key="aSMSsenderID" value="SDITHR" />
    <add key="aSMSsecurityKey" value="2c9930e2-ca49-4155-b04a-714743bccdfe" />
    <!--CCAvenue ITI-->
    <!--
		<add key="workingKey_ITI" value="EF977E762EF13C70F2A8A78411B214AC" />
		<add key="strAccessCode_ITI" value="AVXU32II59BE68UXEB" />
		<add key="strMerchantId_ITI" value="102042" />
		

		<add key="redirect_url_ITI" value="https://itiharyanaadmissions.nic.in/UG/RegistrationPayment/RegFeeResponse" />
		<add key="cancel_url_ITI" value="https://itiharyanaadmissions.nic.in/UG/RegistrationPayment/RegFeeResponse" />
		-->
    <!--<add key="workingKey_ITI" value="2FC471E092B572DEE544CD5367D3C411" />
    <add key="strAccessCode_ITI" value="AVPI03II96BD44IPDB" />
    <add key="strMerchantId_ITI" value="102042" />-->

	  <!--CCAvenue ITI
	  <add key="workingKey_ITI" value="300802134DE1EF36C19F28854E040C21" />
	  <add key="strAccessCode_ITI" value="AVCA11JG46BU26ACUB" />
	  <add key="strMerchantId_ITI" value="102042" />
	  -->

	  <add key="workingKey_ITI" value="E048873FF1C2200FDBE08159777E5BBF" />
	  <add key="strAccessCode_ITI" value="ATQJ06MF36AF32JQFA" />
	  <add key="strMerchantId_ITI" value="102042" />

	  <add key="strMerchantId_ITI_PVT" value="137552" />
    <add key="redirect_url_ITI_A" value="http://localhost:57994/AdmissionFee/FeeResponse" />
    <add key="cancel_url_ITI_A" value="http://localhost:57994/AdmissionFee/FeeResponse" />
    <add key="redirect_url_ITI_Q" value="http://localhost:57994/QuarterlyFee/FeeResponse" />
    <add key="cancel_url_ITI_Q" value="http://localhost:57994/QuarterlyFee/FeeResponse" />
    <add key="redirect_url_ITI_SQ" value="http://localhost:57994/SecondYearLogin/FeeResponse" />
    <add key="cancel_url_ITI_SQ" value="http://localhost:57994/SecondYearLogin/FeeResponse" />
    <add key="redirect_url_ITI_OQ" value="http://localhost:57994/OldSessionQuarterFee/FeeResponse" />
    <add key="cancel_url_ITI_OQ" value="http://localhost:57994/OldSessionQuarterFee/FeeResponse" />
    <add key="redirect_url_ITI" value="http://localhost:57994/RegistrationPayment/RegFeeResponse" />
    <add key="cancel_url_ITI" value="http://localhost:57994/RegistrationPayment/RegFeeResponse" />
	<add key="redirect_url_Workshop" value="http://localhost:57994/PublicLibrary/PaymentResponse.aspx" />
	<add key="cancel_url_Workshop" value="http://localhost:57994/PublicLibrary/PaymentResponse.aspx" />
  </appSettings>
  <connectionStrings>
    <!--
		<add name="NLog" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=root@123" />
		<add name="Dbconnection" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=root@123" />
		<add name="HigherEducation" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=root@123" />
		<add name="HigherEducationR" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=root@123" />
		<add name="verContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=verContext-20200807145930; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|verContext-20200807145930.mdf" providerName="System.Data.SqlClient" />
	-->	

	   <add name="NLog" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=root" />
    <add name="Dbconnection" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=root" />
    <add name="HigherEducation" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=root" />
    <add name="HigherEducationR" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=root" />
    <add name="verContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=verContext-20200807145930; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|verContext-20200807145930.mdf" providerName="System.Data.SqlClient" />
	  <!--
	   
		<add name="NLog" connectionString="Data Source=10.31.139.5;port=3306;Initial Catalog=skill_development;User Id=rohit;password=rohit@123" />
		<add name="Dbconnection" connectionString="Data Source=10.31.139.5;port=3306;Initial Catalog=skill_development;User Id=rohit;password=rohit@123" />
		<add name="HigherEducation" connectionString="Data Source=10.31.139.5;port=3306;Initial Catalog=skill_development;User Id=rohit;password=rohit@123" />
		<add name="HigherEducationR" connectionString="Data Source=10.31.139.5;port=3306;Initial Catalog=skill_development;User Id=rohit;password=rohit@123" />
		<add name="verContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=verContext-20200807145930; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|verContext-20200807145930.mdf" providerName="System.Data.SqlClient" />

	
    <add name="NLog" connectionString="Data Source=localhost;port=3306;Initial Catalog=higher_edu;User Id=root;password=redalert"/>
    <add name="Dbconnection" connectionString="Data Source=localhost;port=3306;Initial Catalog=higher_edu;User Id=root;password=redalert"/>
    <add name="HigherEducation" connectionString="Data Source=localhost;port=3306;Initial Catalog=higher_edu;User Id=root;password=redalert"/>
    <add name="HigherEducationR" connectionString="Data Source=localhost;port=3306;Initial Catalog=higher_edu;User Id=root;password=redalert;" />
   
		<add name="NLog" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=admin@757" />
		<add name="Dbconnection" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=admin@757" />
		<add name="HigherEducation" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=admin@757" />
		<add name="HigherEducationR" connectionString="Data Source=10.88.250.71;port=3306;Initial Catalog=skill_development;User Id=root;password=admin@757" />
		<add name="verContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=verContext-20200807145930; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|verContext-20200807145930.mdf" providerName="System.Data.SqlClient" />
		-->
    <!--
		<add name="NLog" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=S@ndee9shira" />
		<add name="Dbconnection" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=S@ndee9shira" />
		<add name="HigherEducation" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=S@ndee9shira" />
		<add name="HigherEducationR" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=skill_development;User Id=root;password=S@ndee9shira" />
		<add name="verContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=verContext-20200807145930; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|verContext-20200807145930.mdf" providerName="System.Data.SqlClient" />
-->
    <!--<add name="NLog" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu_sec;User Id=dhesec;password=Dhe@1234;MinimumPoolSize=50;maximumpoolsize=1000;" />
    <add name="Dbconnection" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu_sec;User Id=dhesec;password=Dhe@1234;MinimumPoolSize=50;maximumpoolsize=1000;" />
    <add name="HigherEducation" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu_sec;User Id=dhesec;password=Dhe@1234;MinimumPoolSize=50;maximumpoolsize=1000;" />
    <add name="HigherEducationR" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu_sec;User Id=dhesec;password=Dhe@1234;MinimumPoolSize=10;maximumpoolsize=1000;" />-->
    <!--<add name="NLog" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu;User Id=root;password=admin@757" />
    <add name="Dbconnection" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu;User Id=root;password=admin@757" />
    <add name="HigherEducation" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu;User Id=root;password=admin@757 ;" />
    <add name="HigherEducationR" connectionString="Data Source=10.88.229.244;port=3306;Initial Catalog=higher_edu;User Id=root;password=admin@757 ;" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="On"  defaultRedirect="/Account/Error">-->
    <customErrors mode="Off">
    </customErrors>
    <sessionState timeout="31">
    </sessionState>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5.2"/>-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" requestPathInvalidCharacters="" requestValidationMode="4.5" requestLengthDiskThreshold="4096" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
</configuration>