@{

    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Data for ERP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/sweetalert.css" rel="stylesheet" />
    <link href="../assets/css/stylesearch.css" rel="stylesheet" />
    <link href="../assets/css/stylehome.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/jquery-3.5.1.js"></script>
    <script src="../assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/dataTable/dataTables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/popperjs/popper.min.js"></script>
    <script src="../assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/sweetalert.min.js"></script>
    <link href="../assets/css/all.css" rel="stylesheet" />
    <link href="../assets/css/stylereport.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/dataTable/dataTables/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="../assets/dataTable/dataTables/dataTables.buttons.min.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.html5.min.js"></script>
    <script src="../assets/dataTable/dataTables/jszip.min.js"></script>
    <script src="../assets/dataTable/dataTables/pdfmake.min.js"></script>
    <script src="../assets/dataTable/dataTables/vfs_fonts.js"></script>
    <script src="../assets/dataTable/dataTables/buttons.print.min.js"></script>
    @*<link rel="stylesheet" href="~/assets/css/stylepayment.css">*@

    <style type="text/css">
        #dvPrint > div > label {
            font-weight: 900;
        }

        @@media print {
            body > div {
                display: none;
            }

            body > footer {
                display: none;
            }

            #PrintReceiptDiv {
                display: block;
            }
        }

        body:not(.menu-on-top).desktop-detected {
            min-height: 907px !important
        }

        .cus-grid-table {
            height: 100%;
            overflow: auto;
            box-shadow: 0px 0px 5px 0px #ccc;
            padding: 1rem;
            margin-bottom: 5%;
        }

        #cover {
            /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
            background-color: rgba(178, 0, 255, 0.81);
            position: fixed;
            top: 0px;
            bottom: 0px;
            height: 100%;
            width: 100%;
            z-index: 100000;
        }

            #cover i {
                /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
                margin-left: 50%;
                margin-top: 50vh;
            }

        .btn:disabled {
            opacity: 0.2 !important;
        }

        .card-counter {
            box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.4);
            margin: 5px;
            padding: 10px 10px;
            background-color: #fff;
            height: 75px;
            border-radius: 5px;
            transition: .3s linear all;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }

            .card-counter:hover {
                box-shadow: 4px 4px 20px #DADADA;
                transition: .3s linear all;
            }

            .card-counter.primary {
                /*background-color: #007bff;*/
                background: linear-gradient(to right, #0d47a1, #1976d2 99%) !important;
                background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(99%, #1976d2)) !important;
                color: #FFF;
            }

            .card-counter.danger {
                background-color: #ef5350;
                color: #FFF;
            }

            .card-counter.success {
                background-color: #66bb6a;
                color: #FFF;
            }

            .card-counter.info {
                background: linear-gradient(to right, #4527a0, #5e35b1) !important;
                background: -webkit-gradient(linear, left top, right top, from(#4527a0), to(#5e35b1)) !important;
                color: #FFF;
            }

            .card-counter i {
                font-size: 4em;
                opacity: 0.5;
                margin-top: -1px;
            }

            .card-counter .fa.fa-spinner {
                font-size: 1.5em !important;
                opacity: 0.5;
            }

            .card-counter .count-numbers {
                position: absolute;
                right: 30px;
                top: 10px;
                font-size: 28px;
                display: block;
                /*font-weight:800;*/
                text-shadow: 10px 10px 0px 0px #333;
            }

            .card-counter .count-name {
                position: absolute;
                right: 30px;
                top: 55px;
                font-style: italic;
                text-transform: capitalize;
                opacity: 0.8;
                display: block;
                font-size: 12px;
                /*font-weight: 700;*/
            }

        .cus-top-cards {
            border: 1px solid #ccc;
            padding: 0.8rem;
            box-shadow: inset 0px 1px 8px 2px #a9a9a9;
        }

        button.dt-button, div.dt-button, a.dt-button {
            padding: 0.01em 0.5em !important;
            font-size: x-large;
        }

        .modalBackground {
            background-color: rgb(192,234,255);
            filter: alpha(opacity=70);
            opacity: 0.7;
            z-index: 100 !important;
        }

        .modalPopup {
            background-color: #ffffff;
            border-width: 3px;
            border-style: solid;
            border-color: Gray;
            padding: 3px;
            /*width: 250px;*/
            z-index: 100;
        }

        .btnPop {
            background-color: #033280;
            color: White;
            font-size: 12px;
            font-weight: bold;
            padding-left: 5px;
        }

        table {
            width: 100% !important;
            font-size: small;
        }
    </style>
    <script>
      var errorFn = function (jqXHR, exception)
        {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Not connect.\n Verify Network.';
            } else if (jqXHR.status == 404) {
                msg = 'Requested page not found. [404]';
            } else if (jqXHR.status == 500) {
                msg = 'Internal Server Error [500].';
            } else if (exception === 'parsererror') {
                msg = 'Requested JSON parse failed.';
            } else if (exception === 'timeout') {
                msg = 'Time out error.';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            alert("Error: " + msg);
            $("#cover").fadeOut("slow");
        }

        $(document).ready(function ()
        {
            $("#cover").hide();
            getData();        
        });


        var url1 = '@Url.Action("getDataForERP", "Reports")';
        var urlError = '@Url.Action("Error", "Account")';
        function getData() {
            $("#cover").fadeIn("slow");
            $.ajax({
                
                url: url1,
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data == "1") {
                        window.location.replace(urlError);
                        return false;
                    }
                    var CompleteDataSet = JSON.parse(data);
                    console.log(CompleteDataSet)
                    var buttonsArray = [{ text: '<i class="fa fa-file-pdf" style="color:RED;"></i>', extend: 'pdfHtml5', footer: true, title: 'Students Data For ERP', messageTop: 'Students Data For ERP', messageBottom: '', pageSize: 'A4', orientation: 'landscape', exportOptions: { columns: ':visible' } },
                                        { text: '<i class="fa fa-file-excel" style="color:GREEN;"></i>', extend: 'excelHtml5', exportOptions: { columns: ':visible' } },
                                        { text: '<i class="fa fa-file-csv" style="color:BLUE;"></i>', extend: 'csvHtml5', exportOptions: { columns: ':visible' } },
                                        { text: '<i class="fa fa-print" style="color:Black;"></i>', extend: 'print', exportOptions: { columns: ':visible' } }];
                    var columnsArray = [
                        { data: null, title: 'Sr No.', render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; } }

                        , { data: "StateRegNumber", title: "State Registration Number",  visible: true}
                        , { data: "collegename", title: "ITI Name", }
                        , { data: "InstituteType", title: "Institute Type", }
                        , { data: "courseName", title: "Course Name", visible: true  }
                        , { data: "AdmissionYear", title: "Admission Year", }
                        , { data: "StudentAdmittedType", title: "Student Admitted Type", }

                        , { data: "StudentName", title: "Student Name", }
                        , { data: "Student_Dob", title: "Student DOB", visible: true }
                        , { data: "Student_Gender", title: "Student Gender", }
                        , { data: "StudentCasteCategory", title: "Student Caste Category", }
                        , { data: "Alloted_categoryName", title: "Alloted Category Name", visible: true }
                        , { data: "MobileNo", title: "Mobile No"}
                        , { data: "AadharNo", title: "Aadhar No", }
                        , { data: "EmailID", title: "Email ID", }
                        , { data: "maritalStatus", title: "Marital Status", visible: true }
                        , { data: "fatherAnnualIncomeText", title: "father Annual Income Text", }

                        , { data: "student_class_roll_no", title: "student class roll no",visible :true }
                        , { data: "gardianName", title: "Gardian Name", visible: true }
                        , { data: "FatherMobNo", title: "Father Mobile No", visible: true  }
                        , { data: "tradeType", title: "Trade Type", visible: true  }
                        , { data: "StudentTradeScheme", title: "Student Trade Scheme", visible: true  }
                        , { data: "unit", title: "unit", visible: true  }
                        , { data: "shift", title: "shift", visible: true  }
                        , { data: "allocation_id", title: "allocation_id", visible: true  }
                        , { data: "Rank_id", title: "Rank_id", visible: true  }
                        , { data: "StudentTradeTypeStatus", title: "Student Trade Type Status", visible: true  }
                        , { data: "studentinfo_status", title: "studentinfo_status", visible: true  }
                        , { data: "UniqueApplicationNo", title: "Unique Application No", visible: true  }
                        , { data: "student_father_name", title: "Student Father Name", visible: true  }
                        , { data: "student_mother_name", title: "Student Mother Name", visible: true  }
                        , { data: "is_dependent_of_FF", title: "is_dependent_of_FF", visible: true  }
                        , { data: "is_ESM_or_DoESM", title: "is_ESM_or_DoESM", visible: true  }
                        , { data: "is_ph", title: "is_ph", visible: true  }
                        , { data: "orthopadically_handicapped", title: "orthopadically_handicapped", visible: true  }
                        , { data: "lowerlimb", title: "lowerlimb", visible: true  }
                        , { data: "orthopadically_handicapped_one_arm", title: "orthopadically_handicapped_one_arm", visible: true  }
                        , { data: "orthopadically_handicapped_locomotors_disability", title: "orthopadically_handicapped_locomotors_disability", visible: true  }
                        , { data: "low_vision", title: "low_vision", visible: true  }
                        , { data: "hearing_handicapped", title: "hearing_handicapped", visible: true  }
                        , { data: "autism", title: "autism", visible: true  }
                        , { data: "cerebral_palsy", title: "cerebral_palsy", visible: true  }
                        , { data: "leprosy_cured", title: "leprosy_cured", visible: true  }
                        , { data: "dwarfism", title: "dwarfism", visible: true  }
                        , { data: "acid_attack", title: "acid_attack", visible: true  }
                        , { data: "mutiple_disabilities", title: "mutiple_disabilities", visible: true  }
                        , { data: "intellectual_disability", title: "intellectual_disability", visible: true  }
                        , { data: "specific_learning_disabilities", title: "specific_learning_disabilities", visible: true  }
                        , { data: "mental_illness", title: "mental_illness", visible: true  }
                        , { data: "Minority_Status", title: "Minority Status", visible: true  }
                        , { data: "Minority_typeText", title: "Minority Type Text", visible: true  }
                        , { data: "Candidate_Home_District", title: "Candidate Home District", visible: true  }
                        , { data: "IsDomicileOfHaryana", title: "Is Domicile Of Haryana", visible: true  }
                        , { data: "District", title: "District", visible: true  }
                        , { data: "Is_Women_ITI", title: "Is Women ITI", visible: true  }
                        , { data: "Trade", title: "Trade", visible: true  }
                        , { data: "Trade_Duration", title: "Trade Duration", visible: true  }
                        , { data: "Trade_Staus", title: "Trade Staus", visible: true  }
                        , { data: "AADHAR_number", title: "AADHAR Number", visible: true  }
                        , { data: "SeatType", title: "Seat Type", visible: true  }
                        , { data: "alloted_paid_status", title: "Alloted Paid Status", visible: true  }
                        , { data: "8th", title: "8th", visible: true  }
                        , { data: "10th", title: "10th", visible: true  }
                        , { data: "10+2", title: "10+2", visible: true  }
                        , { data: "Graduate", title: "Graduate", visible: true  }
                        , { data: "Highest_Qualification", title: "Highest Qualification", visible: true  }
                        , { data: "Board/University_Name", title: "Board/University_Name", visible: true  }
                        , { data: "Bank_Name", title: "Bank_Name", visible: true  }
                        , { data: "Account_Number", title: "Account_Number", visible: true  }
                        , { data: "IFSC_Code", title: "IFSC_Code", visible: true  }
                        , { data: "Admission_Scheme_Name", title: "Admission_Scheme_Name", visible: true  }
                        , { data: "Candidate_Address", title: "Candidate_Address", visible: true  }
                        , { data: "any_other_important_field", title: "any_other_important_field", }];

                    $("#tblERPData").DataTable({
                        data: CompleteDataSet.Table,
                        dom: 'Blfrtip',
                        buttons: buttonsArray,
                        paging: true,
                        pageLength: 10,
                        lengthMenu: [
                            [10, 25, 50, 100, -1],
                            [10, 25, 50, 100, 'All'],
                        ],
                        destroy: true,
                        pageSize: 'A4',
                        "bFilter": false,
                        "searching": true,
                        scrollX: true,
                        //"order": [[1, "asc"]],
                        columns:columnsArray,
                        "footerCallback": function (row, data, start, end, display) {
                            /*this.api().columns('.sum').every(function () {
                                var column = this;

                                var sum = column
                                    .data()
                                    .reduce(function (a, b) {
                                        a = parseInt(a, 10);
                                        if (isNaN(a) ) { a = 0; }

                                        b = parseInt(b, 10);
                                        if (isNaN(b)) { b = 0; }

                                        return a + b;
                                    },0);

                                $(column.footer()).html(sum);
                            })
                            */
                        }

                    });
                $("#cover").fadeOut("slow");
                },
                error: errorFn
        })
        }
    </script>

</head>
<body>

    <div id="cover">
        <i class="fa fa-spinner fa-spin" style="font-size:xx-large"></i>
    </div>
    <div class="container-fluid">
        <div class="row main-banner">
            <img src="../assets/images/banner.jpg" style="width: 100%" alt="online admission portal" />
        </div>
        <div class="row header">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        @*<li><a href="../index.html">Home</a></li>
                            <li class="active"><a href='@Url.Action("CollegeCourseWiseAppRec","Reports")'>College Course Wise Application Received</a></li>

                            <li><a href="#">Search College</a></li>*@
                    </ul>
                </nav>
                <!-- .nav-menu -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-2"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-8 text-center top-heading" style="margin-top: 5px;"><h4 class="heading">Student's Data</h4></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-2 text-right back-btn" style="margin-top: 5px;">
                <a href="#" id="btnBack" class="btn btn-icon icon-left btn-primary" onclick="javascript: window.history.back();"><i class="fas fa-arrow-alt-circle-left"></i></a>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            
        </div>
        @*OMGOMG*@

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 cus-merit-table" style="padding: 0;">
            <h5>Students Data</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 cus-grid-table-down">

            <div class="bg-white rounded shadow mb-5">

                <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
                    <li class="nav-item flex-sm-fill">
                        <a id="aioc" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active"></a>
                    </li>

                </ul>
                <div id="myTab2Content" class="tab-content">
                    <div id="tab1" role="tabpanel" aria-labelledby="aioc" class="tab-pane fade py-3 show active">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tblERPData">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        @*OMGOMG*@

       
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 text-left" style="margin-top:10px;">
                            <div class="credits">
                                <a>Site is technically designed, hosted and maintained by National Informatics Centre, Haryana</a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <img src="../assets/images/nic-logo.png" style="width:100px;">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </footer>
    <!-- End Footer -->
</body>
</html>