@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FeeRequest</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nonseamless").submit();
        });
    </script>
</head>
<body>
    @if (ViewBag.PaymentGateway == "H")
    {

        <form id="nonseamless" method="post" name="redirect" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
            <input type="hidden" id="encRequest" name="encRequest" value="@ViewBag.strEncRequest" />
            <input type="hidden" name="access_code" id="Hidden1" value="@ViewBag.strAccessCode" />
        </form>
    }
    else if(ViewBag.PaymentGateway == "I")
    {
        <form id="nonseamless" method="post" name="redirect" action="https://induscollect.indusind.com/pushapi/">
            <input type="hidden" id="merchant_code" name="merchant_code" value="@ViewBag.merchant_code" />
            <input type="hidden" name="Request" id="Request" value="@ViewBag.encrypted" />
        </form>
    }
</body>
</html>
